manim_stuff/media
.Rhistory
manim_stuff/.spyproject/config/workspace.ini
output/*
pallette.color.R
rapport/presentation/*
rapport/figurevirasharing_cluster.pptx
pallette_color.R
R_dead_code/*
dead_output/*